body {
  font-size: 18px;
  font-family: "Futura-PT", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Futura-PT";
}
a {
  color: #983bc9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  display: inline-block;
  background-color: #983bc9;
  padding: 0px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.btn:hover {
  color: #fff;
  background-color: #8534AF;
  text-decoration: none;
}
@media only screen and (max-width:430px) {
  #sideSlideToggle i:before,
  #sideSlideToggle i:after {
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 57.7px;
  }
  #sideSlideUl li a {
    padding-left: 45px !important;
  }
  /***********************/
  /* Header */
  /***********************/
  #page #masthead {
    text-align: center;
  }
  #page #masthead h1.site-title {
    font-size: 32px !important;
    font-size: 3.2rem !important;
  }
  .tp-caption {
    white-space: pre-wrap !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 40px !important;
    font-size: 1.5rem !important;
    line-height: 2.5rem !important;
  }
  .tp-caption span br {
    display: none;
  }
}
@media only screen and (max-width:670px) {
  .show-mobile {
    display: block;
  }
  .show-desktop {
    display: none;
  }
  #rev_slider_1_1_wrapper {
    display: none !important;
  }
  #rev_slider_2_2_wrapper,
  #rev_slider_2_1_wrapper {
    display: block !important;
    top: 43px !important;
  }
  #rev_slider_2_2_wrapper + .tp-fullwidth-forcer,
  #rev_slider_2_1_wrapper + .tp-fullwidth-forcer {
    display: block !important;
  }
  .page-fence {
    padding: 0 10px;
  }
  .tp-caption {
    padding: 0 10px !important;
  }
  #page #masthead {
    text-align: center;
    display: table;
    padding-bottom: 14px;
  }
  #page #masthead .site-logo-link {
    display: inline-block;
    margin: 0 auto;
    height: 77px;
  }
  #page .rev_slider_wrapper {
    margin-top: 36px;
  }
  body.page-id-11 .entry-content,
  body.page-id-15 .entry-content {
    width: 100%;
  }
  .tp-caption span {
    font-size: 20px;
  }
  .medium-up {
    display: none;
  }
  .small-only {
    display: block !important;
  }
  .small-only-inline {
    display: inline-block !important;
  }
  .block-grid-thumbnails .block-grid-item {
    margin-bottom: 30px;
  }
  /***********************/
  /* Header */
  /***********************/
  #page #masthead h1.site-title {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 32px;
    font-size: 3.2rem;
    white-space: nowrap;
  }
  #page #content {
    margin-top: 36px;
  }
  #page #content > .hero-image + .site-content-header {
    padding-top: 20px;
  }
  .archive #page #content,
  .page-id-19 #page #content,
  .single-audiotheme_video #page #content {
    margin-top: 0;
  }
  .layout-page-header header.entry-header {
    padding-top: 0;
  }
  /***********************/
  /* Menu */
  /***********************/
  .sideSlideSlidePositivePadding {
    transform: translate(-200px, 0);
    -webkit-transform: translate(-200px, 0);
  }
  #sideSlideUl li a {
    padding-left: 27px;
  }
  #sideSlideToggleButton {
    z-index: 9999;
  }
  #sideSlideToggle {
    line-height: 1;
    width: 100%;
    top: 77px;
    padding: 0;
    right: 0 !important;
  }
  #sideSlideToggle i.fa {
    line-height: 20px;
    padding: 0 15px 5px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    border: 1px solid #999 !important;
    border-top: none !important;
    border-bottom: none !important;
    transition: transform 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    right: -1px;
  }
  #sideSlideToggle i.fa:before,
  #sideSlideToggle i.fa:after {
    line-height: 1;
  }
  #sideSlideToggle:before {
    content: "";
    display: block;
    border-bottom: 1px solid #999;
    position: absolute;
    margin-top: 14px;
    width: 100%;
  }
  #sideSlideToggle .sideSlideToggleInner {
    margin-top: 0;
  }
  #sideSlideToggle.sideSlideSlideTogglePositive i.fa {
    transition: transform 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    transform: translate(-40px, 0);
    -webkit-transform: translate(-40px, 0);
  }
  #sideSlideMenu {
    width: 182px;
    padding-top: 40px;
  }
  #sideSlideMenu.sideSlideSlidePositivePadding {
    transform: translate(-200px, 0);
    -webkit-transform: translate(-200px, 0);
  }
  #sideSlideMenu.sideSlideSlideNegative {
    right: -200px;
  }
  /***********************/
  /* Gig Single */
  /***********************/
  body.single-audiotheme_gig .featured-img {
    margin-bottom: 20px;
  }
  body.single-audiotheme_gig #content > .site-content-header {
    display: none;
  }
  body.single-audiotheme_gig #content > .featured-img + .site-content-header {
    height: 0;
  }
  body.single-audiotheme_gig #content .single-gig--title {
    border: none;
    display: none;
  }
  .thq-single-gig {
    position: relative;
  }
  .thq-single-gig > div {
    float: none !important;
    width: 100% !important;
  }
  .thq-single-gig > div.single-gig--title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
  }
  .thq-single-gig > div.single-gig--title h1 {
    line-height: 120%;
  }
  .thq-single-gig > div.single-gig--title .btn {
    margin-top: 10px;
  }
  .thq-single-gig > div.single-gig--info * {
    font-size: 18px !important;
    font-size: 1.8rem !important;
  }
  .thq-single-gig > div.single-gig--info .single-gig--meta,
  .thq-single-gig > div.single-gig--info .single-gig--links {
    width: 100% !important;
    float: none !important;
  }
  .thq-single-gig > div.single-gig--info li {
    line-height: 25px;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta {
    width: 100%;
    float: none;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta li {
    padding: 0;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta li.sum-info span {
    font-size: 24px !important;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta li.meta-links--subscribe {
    float: none;
  }
  .thq-single-gig > div.single-gig--info ul.gig-booking {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .gig-list li a {
    font-size: 16px;
  }
  /***********************/
  /* Contact info */
  /***********************/
  /* Videos */
  body.post-type-archive-audiotheme_video .block-grid-thumbnails .block-grid-item .block-grid-item-title {
    text-align: left;
  }
  /* Contact page */
  body.page-id-23 #content.site-content:after {
    display: none;
  }
  /* Slider captions */
  .tp-caption-wrap {
    padding-bottom: 80px;
  }
  .tp-caption-wrap .tp-caption > span {
    padding-top: 23px;
  }
  .tp-caption-wrap .tp-caption span:before {
    height: 22px;
  }
  .tp-caption-wrap .tp-caption span span.slide-author {
    line-height: 22px;
    padding-left: 30px;
    height: 22px;
  }
  .tp-caption-wrap .tp-caption span span.slide-author span {
    line-height: 22px;
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #rev_slider_1_1_wrapper {
    display: none !important;
  }
  #rev_slider_2_2_wrapper,
  #rev_slider_2_1_wrapper {
    display: block !important;
    top: 0px !important;
  }
  #rev_slider_2_2_wrapper + .tp-fullwidth-forcer,
  #rev_slider_2_1_wrapper + .tp-fullwidth-forcer {
    display: block !important;
  }
}
@media only screen and (min-width: 671px) and (max-width: 760px) {
  .medium-up {
    display: none;
  }
  .small-only {
    display: block !important;
  }
  .small-only-inline {
    display: inline-block !important;
  }
  .block-grid-thumbnails .block-grid-item {
    margin-bottom: 30px;
  }
  /***********************/
  /* Gig Single */
  /***********************/
  .thq-single-gig {
    position: relative;
  }
  .thq-single-gig > div {
    float: none !important;
    width: 100% !important;
  }
  .thq-single-gig > div.single-gig--title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
  }
  .thq-single-gig > div.single-gig--title h1 {
    padding-right: 150px;
    line-height: 120%;
  }
  .thq-single-gig > div.single-gig--title .btn {
    position: absolute;
    bottom: 22px;
    right: 20px;
  }
  .thq-single-gig > div.single-gig--info * {
    font-size: 18px !important;
    font-size: 1.8rem !important;
  }
  .thq-single-gig > div.single-gig--info li {
    line-height: 25px;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta {
    width: 100%;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta li {
    padding: 0;
  }
  .thq-single-gig > div.single-gig--info ul.gig-meta li.sum-info span {
    font-size: 24px !important;
  }
  /* Videos */
  body.post-type-archive-audiotheme_video .block-grid-thumbnails .block-grid-item .block-grid-item-title {
    text-align: left;
  }
}
@media only screen and (max-width:959px) {
  /***********************/
  /* Header */
  /***********************/
  #page #masthead h1.site-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
  #page #masthead h1.site-title a {
    position: static;
    z-index: 1;
  }
  #page #masthead h1.site-title:after {
    display: none;
  }
  /***********************/
  /* Footer txt */
  /***********************/
  #footer .footer-info .footer-info-left,
  #footer .footer-info .footer-info-right {
    margin: 0;
    float: none;
  }
  #footer .footer-info .footer-info-left > *,
  #footer .footer-info .footer-info-right > * {
    padding: 0;
    display: block;
  }
  #footer .footer-info .footer-info-center {
    display: block;
  }
}
@media only screen and (max-width:800px) {
  .about-grid .block-grid-item {
    width: 50%;
    clear: none;
  }
}
@media only screen and (min-width:661px) {
  body.page-id-23 .site-content-inside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  body.page-id-23 .entry-content {
    color: #fff;
  }
  body.page-id-23 .entry-content .contact-info {
    color: #fff;
  }
  body.page-id-23 .entry-content .contact-info * {
    color: #fff;
  }
  body.page-id-23 .entry-content .contact-info a:hover {
    color: #983bc9;
  }
  body.page-id-23 .featured-img {
    max-height: none;
  }
  body.page-id-23 .featured-img .featured-img-mobile {
    display: none;
  }
  body.page-id-23 .featured-img .wp-post-image {
    display: block;
  }
  body.page-id-23 .featured-img.contactHeight img {
    height: 100%;
    width: auto;
  }
  body.page-id-23 .featured-img.contactWidth img {
    width: 100%;
  }
  body.page-id-23 .featured-img img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto;
    float: right;
    border: none;
  }
}
@media only screen and (max-width:670px) {
  body.page-id-23 .featured-img {
    height: auto !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .tp-caption-wrap {
    height: 860px;
    top: 0;
    bottom: auto;
  }
  .tp-caption-wrap .tp-caption {
    height: 860px;
    display: table-cell;
    vertical-align: bottom;
  }
}
